

.App {
  text-align: center;
}

.Heading {
  letter-spacing: 2px;
}

.flex{
  display: flex;
}

/* Search-bar */

.Input-box{
  border: 2px solid black;
  justify-content: space-between;

}

.search-bar{
  justify-content: center;
}

.input-text {
  border: none;
  width: 40vw;
}

.no-outline:focus {
  outline: none;
}

/* todo */

.action-btn{
  justify-content: space-between;
}

.Modal{
  background-color: rgb(255, 255, 255);
  flex-direction: column;
}

.btn{
  justify-content: center;
  flex-wrap: wrap ;
  row-gap: 20px;
}

.box{
  border : 2px solid red
}

